.authordetails{
	clear:both;
	margin-top:$gap*2;
	background-color: #f2efe9;
	overflow:hidden;
	position:relative;
	@include transition-duration(0.3s);
	@include transition-property(all);
	img{
		float:left;
			@include transition-duration(0.3s);
	@include transition-property(all);
	}
	border-right: 0px solid $bodyaltcolor;

	.details{
		padding:14px $gap 0 $gap;
		float:left;
	}

	h4{
		text-transform:uppercase;
		font-weight: 600;
	}
	h3{
		@include font-size(2.4);
		color: $bodyaltcolor;
	}
	p{
		display:inline-block;
		margin: ($gap/2) 0 0 0;
		background: url("../img/arrow.svg") no-repeat 100% 50%;
		background-size: 6px 6px;
		padding-right:10px;
	}
	a:hover{
		color: $bodyaltcolor;
	}
	a:before{
		content: '';
		display:block;
		position:absolute;
		left:0;
		top:0;
		width: 100%;
		height:100%;
	}
	
	&:hover{
		border-right: 20px solid $bodyaltcolor;
		img{
			-webkit-filter: grayscale(100%); /* Chrome 19+ & Safari 6+ */
		}

	}


}