/**
* @ base css include. Base styling.
**/

@mixin font-size($sizeValue: 1.6) {
  font-size: ($sizeValue * 10) + px;
  font-size: $sizeValue + rem;
}

$bodyfont: 'Open Sans', sans-serif;
$bodycolor: #fff;
$bodyaltcolor: #218d99;
$linkcolor: #f1702f;
$linkaltcolor:#c7a858;
$fadecolor: #999;
$bright: #fff;
$headerfont:"refrigerator-deluxe",sans-serif;
$confont:"refrigerator-deluxe",sans-serif;
$cursive:"Grand Hotel", cursive;
//$headerfont:"futura-pt-condensed",sans-serif;
$h2size:3rem;
$h3size:1.8rem;
$h4size:1.3rem;
$h5size:1rem;

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

html{
	font-size:62.5%;
}
body{
	font-family: $bodyfont;
	color:#333;
	@include font-size(1.4);
}
section h1{
	font-size: $h2size;
	border-left: 4px solid $linkcolor;
	padding-left:5px;
}
a{
	color: $bodyaltcolor;
	text-decoration: none;
	@include transition-duration(0.3s);
	@include transition-property(color);
	&:hover{
		color: $linkcolor;
	}
}
button{
	background:none;
	border:none;
	position:relative;
}
