/**
* @ base css include. Base styling.
**/

@mixin font-size($sizeValue: 1.6) {
  font-size: ($sizeValue * 10) + px;
  font-size: $sizeValue + rem;
}

@mixin user-select($value: none, $cursor: arrow){
	-webkit-touch-callout: $value;
	-webkit-user-select: $value;
	-khtml-user-select: $value;
	-moz-user-select: $value;
	-ms-user-select: $value;
	user-select: $value;
	cursor: $cursor;
}

$bodyfont: 'Open Sans', sans-serif;
$bodycolor: #fff;
$bodyaltcolor: #218d99;
$altcolor: #c7a759; //puke gold. Looks good on text not as a solid color;
$bodydark: #343434;
$linkcolor: #f1702f; //orange
$linkaltcolor:#c7a858; // blueish green
$linecolor: #e5e5e5; // light grey for lines.
$fadecolor: #999;
$bright: #fff;
$headerfont:"refrigerator-deluxe",sans-serif;
$confont:"refrigerator-deluxe",sans-serif;
$cursive:"Grand Hotel", cursive;
//$headerfont:"futura-pt-condensed",sans-serif;
$h1size:3;
$h2size:2;
$h3size:1.8;
$h4size:1.3;
$h5size:1;
$gap: 25px;

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

html{
	font-size:62.5%;
}
body{
	font-family: $bodyfont;
	color:#333;
	@include font-size(1.4);
}
a{
	color: $bodyaltcolor;
	text-decoration: none;
	@include transition-duration(0.3s);
	@include transition-property(color);
	&:hover{
		color: $linkcolor;
		text-decoration: none;
	}
	&:focus{
		outline:none;
		text-decoration: none;
	}
}
button{
	background:none;
	border:none;
	position:relative;
}
p{
	margin-bottom: $gap;
}
a.btn{
	color: #fff;
	display:inline-block;
	background-color: $linkcolor;
	text-transform: uppercase;
	@include font-size(1.3);
	padding: 12px 38px;
	@include border-radius(3px);
	font-weight:400;
	margin-bottom: $gap;
	@include transition-duration(0.3s);
	@include transition-property(all);
	@include box-shadow(0px 3px #fff);
	&:hover{
		@include box-shadow(0px 3px darken($bodyaltcolor, 10%));
		background-color: $bodyaltcolor;
	}
}
div.wrap{
	max-width:1200px;
	margin-left:auto;
	margin-right: auto;
}
section{
	position:relative;
}
article{overflow:hidden;}
div.headermsg{
	@include font-size(1.2);
	padding-bottom:$gap;
}

/* icons */
.news{
	background: transparent url("../img/news.svg") no-repeat 0px 3px;
	background-size: 12px 12px;
	padding-left:20px;
	&:after{
		content: ' >';
	}
}
#utils, #sociallinks{
	display:none;
}
.smalllogo{
	display:none;
}
footer{
	position:relative;
}
