main{

	h1{
		@include font-size($h1size);
		text-transform:uppercase;
		color: #666;
		font-family: $headerfont;
		border-left: 9px solid $linkcolor;
		padding-left:6px;
		margin: $gap 0;
	}
	h2{
		color: $linkaltcolor;
		@include font-size($h2size);
		font-family: $bodyfont;
		font-weight:300;
		margin: $gap 0;
		line-height:150%;
		a{
			color: $linkaltcolor;
			&:hover{
				color: $linkcolor;
			}
		}
	}
	h3{
		@include font-size($h3size);	
	}
	h4{
		@include font-size($h4size);
	}
	h6{
		@include font-size($h5size);		
	}
	strong{
		font-weight:bold;
	}
	em{
		font-style: oblique;
	}
	blockquote{
		background-color: #f6f6f6;
		border: 1px solid #f0f0f0;
		color: #999;
		margin-bottom:$gap;
		padding: $gap;
		float:left;
		max-width:400px;
		margin-right: $gap;
		p{
			margin:0;
			@include font-size($h2size);
			font-style:oblique;	
		}
	}

	.meta{
		border-top: 1px solid #e5e5e5;
		border-bottom: 1px solid #e5e5e5;
		padding: 14px 0;
		margin-bottom: $gap;
		@include font-size(1.2);
		font-weight:400;
		color: #958c8c;
		.date{
			float:right;
			padding-left:18px;
			background: url('../img/clock.svg') no-repeat 0 50%;
			background-size: 12px 12px;
		}
	}
	.previewimg{
		width:100%;
	}
	#stories{
		font-weight:300;
		.excerpt{
			@include font-size(1.4);
			color: #666;
			line-height:170%;
		}
	}

	#news{
		margin-top: $gap*2;
		font-weight:300;
		@include font-size(1.3);
		ul{
			border-top: 1px solid #e5e5e5;
			padding-top:$gap;
		}
		ul li{
			margin-bottom: $gap;
			margin-left: 14px;
			line-height:150%;
		}
		ul li a {
			padding-left:10px;
			background: url('../img/arrow.svg') no-repeat 0 7px;
			background-size: 6px 6px;
			color: #666;
		}
	}
	#tutorials{
		font-weight:300;
		@include font-size(1.3);
		img{margin-bottom: $gap;}
		p{
			line-height: 150%;
		}
		h4{
			font-weight:800;
			text-transform:uppercase;
			line-height:150%;
			font-weight:600;
			a{
				color:$linkaltcolor;
			}
		}
		.previewimg{
			-webkit-backface-visibility:hidden;
			border: 1px solid #efefef;
			@include transition-duration(0.3s);
			@include transition-property(all);

		}

	}
	
	/* main content items */

}
.home main #news{margin-top:0;}


.sectiontitle{
	background-color: $bodyaltcolor;
	padding: 60px 0;
	position:relative;
	@include user-select();
	span{
		display:block;
		padding:0 20px;
		max-width:1200px;
		margin: 0 auto;
		@include font-size(5);
		font-weight:900;
		color:#fff;
		font-family: $headerfont;
		text-transform:uppercase;
	}
	div.abouttitle{
		font-weight:300;
		@include font-size(3);
	}
	.sectionlinks{
		position: absolute;
		right: 40px;
		bottom:20px;
		a{
			color:#fff;
			@include border-radius(4px);
			display:inline-block;
			text-transform:uppercase;
			padding:8px 20px 8px 30px;
			font-weight:600;
			@include font-size(1.2);
		}
		a.back{
			background:$bodydark url('../img/arrow-left.svg') no-repeat 15px 50%;
			background-size: 6px 6px;
		}
		a.story{
			background: $linkcolor url('../img/dialog.svg') no-repeat 15px 50%;
			background-size: 10px 10px;
		}
	}
}

.wp-post-image{
	width:100%;
	height: auto;
	margin-top: #{$gap * 2};
}
.size-full{
	max-width:100%;
	width:100%;
	height:auto;
	margin: 0;
}
/* iframe responsive */

div.respondvid{
	position:relative;
	width:100%;
	height:0;
	padding-top:56.25%;
	overflow:hidden;
	iframe {
		height:100%;
		left:0;
		top:0;
		width:100%;
		position:absolute;
	}
}


article p{
	line-height:150%;
	@include font-size($h4size);
}
article section#stories ul li{
		font-size: 1.3rem;
    	line-height: 150%;
    	color:#3f3f3f;
    	margin-bottom: $gap;
    	padding-left: 15px;
    	background: url("../img/arrow.svg") no-repeat scroll 0 7px / 6px 6px rgba(0, 0, 0, 0);
		
}
article section#stories ul.page-numbers li{background:none;}
article section#stories ol li{
		font-size: 1.3rem;
    	line-height: 150%;
    	margin-bottom: $gap;
    	padding-left: 15px;
    	list-style:decimal;
    	list-style-position: inside;
}
article section#stories pre ol li{
	margin-bottom:0;
}
article pre.prettyprint{
	border:1px solid #dfdfdf;
	padding:10px;
}
article section>p:first-child{
		@include font-size($h3size);

}
#disqus_thread{
	clear:both;
	margin-bottom: $gap;
}
/* side news item with tabs */
#tabs{
	ul{
		border:0 !important;
	}
	/*margin-top: $gap*2;*/
	.slide{
		background-color:#fff;
	}
	li a{
		@include transition-duration(0.3s);
		@include transition-property(color);
		&:hover{
			color:$bodyaltcolor;
			border-bottom:1px solid lighten($linkaltcolor, 20%);
		}
	}
	.wpp-views{
		color:$fadecolor;
		@include font-size(1.1);
	}
}
#news h4.nav{
	cursor: pointer;
	background-color: #f2efe9;
	display:inline-block;
	margin-right:2px;
	padding: 8px 0px 10px;
	width:49%;
	text-align:center;
	@include font-size(1.3);
	border-top: 2px solid #f2efe9;
	&.flex-active{
		border-top: 2px solid $linkcolor;
	}
}

/* GLOSSARY */
dt{
	margin-top: $gap*2;
	padding-top: $gap*2;
	@include font-size(2);
	font-weight: 600;
	margin-bottom: $gap;
	border-top: 1px solid $linecolor;
}
dd{
	@include font-size(1.4);
	line-height:150%;
	margin-bottom: $gap*2;
}
#gloslinks{
	background-color: $bodydark;
	text-align:center;
	width:100%;

	ul{
		max-width: 1200px;
		padding:10px 40px;
	}
	ul li{
		display: inline-block;
		span{
			text-transform:uppercase;
			font-family: $headerfont;
			display:block;
			padding:3px 5px;
			@include font-size(2.1);
			color: #958c8c;
			cursor: pointer;
			&:hover, &.active{
				color: $altcolor;
			}
		}
	}
}
dl h3{
	text-transform: uppercase;
	@include font-size(7);
	font-weight: 600;
	font-family: $headerfont;
	margin-bottom:-30px;
}
.mix{
	display:none;
	@include backface-visibility(hidden);
	@include translateZ(0);
}
.storypage .excerpt{
/*	border-bottom: 1px solid #e5e5e5; */
	margin-bottom:50px;

}
section{
	padding-bottom: $gap*2;
}
.ctastate{
	overflow:hidden;
	position:relative;
	@include transition-duration(0.3s);
	@include transition-property(all);
}
.ctastate h4 a:before{
	content: '';
	width:100%;
	height:100%;
	position:absolute;
	top:0;
	left:0;
}
main #tutorials{
	.ctastate:hover{
		@include translateY(-5px);
	}
	.ctastate:hover img.previewimg{
	filter: gray; /* IE6-9 */
	/*opacity:0.8;*/
 	-webkit-filter: grayscale(100%); /* Chrome 19+ & Safari 6+ */
 	/*-webkit-filter: hue-rotate(90deg);*/
	}
	.ctastate:hover h4 a{
		color:$bodyaltcolor;
	}
	&:after{
		left:0;
		top:0;
		position:absolute;
		width:100%;
		height:100%;
		opacity:0.4;
		background-color:#ff0000;	
	}

}

.sitecontent{

	h4{
		font-weight:600;
		margin-bottom:$gap;
	}

	li{
		font-size: 1.3rem;
    	line-height: 150%;
    	margin-bottom: $gap;
    	padding-left: 15px;
	}
	a{
		position:relative;
		z-index:10;
/* cool styleing here */
	color: #18adbd;
	display:inline-block;
	position:relative;
	text-decoration:none;
	vertical-align:bottom;
	white-space: nowrap;
	overflow:hidden;
		&:before{
		content: "";
		background-color: $linkaltcolor;
		height:100%;
		left:0;
		position:absolute;
		top: 0;
		@include translateY(100%);
		@include transition-duration(0.3s);
		@include transition-property(all);
		width:100%;
		z-index:-1;
		}
		&:after{
			content: ' ';
		}
		&:hover{
			color: #fff;
		}
		&:hover:before{
			@include translateY(0%);
		}
	}

	a.removeeffect{
		&:before{
			display:none;
		}
	}

}

.fieldguide{
	text-align:center;
	.storypage{
		display:inline-block;
		float:none;
		max-width:1000px;
		text-align:left;
		font-size:125%;
	}
	#pagenav{
		clear:both;
		padding:$gap*2 0;
	}
	#pagenav li{
		background:none !important;
		margin:0;
		padding:0;
	}
	li.next{float:right;}
	li.prev{float:left;}
	#pagenav li a{
		text-transform:uppercase;
		background-color: $linkcolor;
		@include box-shadow(0px 3px #fff);
		color:#fff;
		padding:10px 15px;
		@include border-radius(3px);
		@include transition-duration(0.3s);
		@include transition-property(all);
		&:hover{
			@include box-shadow(0px 3px darken($bodyaltcolor, 10%));
			background-color:$bodyaltcolor;
		}
	}
	#pagenavarrows li{
		position:fixed;
		background:none;
		top:50%;
		margin:0;
		padding:0;
		&.prev{
			left:0;
			a{
			background: #cfcfcf url('../img/chapter-left.svg') no-repeat 50% 50%;
			background-size: 40px 40px;
			}
		}
		&.next{
			right:0;
			a{
			background: #cfcfcf url('../img/chapter-right.svg') no-repeat 50% 50%;
			background-size: 40px 40px;
			}
		}
		a{
			display:block;
			text-indent: -10000em;
			height:60px;
			width:60px;
			opacity: 0.4;
			@include transition-duration(0.3s);
			@include transition-property(all);
			&:hover{
				opacity: 0.6;
				@include scale(1.2);
			}
		}
	}

}
/* desert scheme ported from vim to google prettify */
pre.prettyprint { display: block; background-color: #333; font-family:courier; }
pre .nocode { background-color: none; color: #000 }
pre .str { color: #ffa0a0 } /* string  - pink */
pre .kwd { color: #f0e68c; font-weight: bold }
pre .com { color: #87ceeb } /* comment - skyblue */
pre .typ { color: #98fb98 } /* type    - lightgreen */
pre .lit { color: #cd5c5c } /* literal - darkred */
pre .pun { color: #fff }    /* punctuation */
pre .pln { color: #fff }    /* plaintext */
pre .tag { color: #f0e68c; font-weight: bold } /* html/xml tag    - lightyellow */
pre .atn { color: #bdb76b; font-weight: bold } /* attribute name  - khaki */
pre .atv { color: #ffa0a0 } /* attribute value - pink */
pre .dec { color: #98fb98 } /* decimal         - lightgreen */

/* Specify class=linenums on a pre to get line numbering */
ol.linenums { margin-top: 0; margin-bottom: 0; color: #AEAEAE } /* IE indents via margin-left */
li.L0,li.L1,li.L2,li.L3,li.L5,li.L6,li.L7,li.L8 { list-style-type: none }
/* Alternate shading for lines */
li.L1,li.L3,li.L5,li.L7,li.L9 { background-color: #383838 !important; }

@media print {
  pre.prettyprint { background-color: none }
  pre .str, code .str { color: #060 }
  pre .kwd, code .kwd { color: #006; font-weight: bold }
  pre .com, code .com { color: #600; font-style: italic }
  pre .typ, code .typ { color: #404; font-weight: bold }
  pre .lit, code .lit { color: #044 }
  pre .pun, code .pun { color: #440 }
  pre .pln, code .pln { color: #000 }
  pre .tag, code .tag { color: #006; font-weight: bold }
  pre .atn, code .atn { color: #404 }
  pre .atv, code .atv { color: #060 }
}

