/*
 * jQuery FlexSlider v2.2.0
 * http://www.woothemes.com/flexslider/
 *
 * Copyright 2012 WooThemes
 * Free to use under the GPLv2 license.
 * http://www.gnu.org/licenses/gpl-2.0.html
 *
 * Contributing author: Tyler Smith (@mbmufffin)
 */


/* Browser Resets
*********************************/
.flex-container a:active,
.flexslider a:active,
.flex-container a:focus,
.flexslider a:focus  {outline: none;}
.slides,
.flex-control-nav,
.flex-direction-nav {margin: 0; padding: 0; list-style: none;}
#news .flex-direction-nav{display:none !important;}
/* FlexSlider Necessary Styles
*********************************/
.flexslider {margin: 0; padding: 0;}
.flexslider .slides > li {display: none; -webkit-backface-visibility: hidden;} /* Hide the slides before the JS is loaded. Avoids image jumping */
.flexslider .slides img {width: 100%; display: block;}
.flex-pauseplay span {text-transform: capitalize;}

/* Clearfix for the .slides element */
.slides:after {content: "\0020"; display: block; clear: both; visibility: hidden; line-height: 0; height: 0;}
html[xmlns] .slides {display: block;}
* html .slides {height: 1%;}

/* No JavaScript Fallback */
/* If you are not using another script, such as Modernizr, make sure you
 * include js that eliminates this class on page load */
.no-js .slides > li:first-child {display: block;}

/* FlexSlider Default Theme
*********************************/
.flexslider { margin: 0; position: relative; zoom: 1; margin-bottom: $gap; background-color:$bodyaltcolor;}
.flex-viewport { max-height: 2000px; -webkit-transition: all 1s ease; -moz-transition: all 1s ease; -o-transition: all 1s ease; transition: all 1s ease; }
.loading .flex-viewport { max-height: 300px; }
.flexslider .slides { zoom: 1; }
.carousel li { margin-right: 5px; }

/* Control Nav */
.flex-control-nav {width: 100%; position: absolute; bottom: 40px; text-align:right; right:20px;z-index:10;}
.flex-control-nav li {margin: 0 6px; display: inline-block; zoom: 1; *display: inline;}
.flex-control-paging li a {
	color:#fff;
	font-weight: 300;
	padding: 6px 11px;
	display: block; 
	background: transparent;
	cursor: pointer; 
	font-family: $confont;
	@include font-size(1.5);
}
.flex-control-paging li a:before{
	content: '0';
}
.flex-control-paging li a:hover { background: $linkaltcolor; text-decoration:none;}
.flex-control-paging li a.flex-active { background: $linkaltcolor;}

.slidecontent{
	top:0%;
	height:100%;
	position:absolute;
	left:20px;
}

.slidecontent:before{
	content: '';
	display: inline-block;
	height: 100%;
	vertical-align:middle;
}
.slidecontent .addpadding{
	display:inline-block;
	vertical-align:middle;

}

.slidecontent .container{
	@include perspective(600px);
}

.slidecontent h2{

    -webkit-transform-style: preserve-3d;
       -moz-transform-style: preserve-3d;
         -o-transform-style: preserve-3d;
            transform-style: preserve-3d;

	color:#fff;
	font-family: $headerfont;
	@include font-size(2.5);
	line-height:85%;
	font-weight:800;
	font-style: normal;
	text-transform:uppercase;
/*	opacity:0;
	@include translateX(-60px);
	@include transition-property(all);
  	@include transition-duration(0.3s);
  	@include transition-timing-function(ease-out);
  	@include transition-delay(0.5s);
  	*/
}
.slidecontent h3{
	color: #fdc13d;
	font-family: $headerfont;
	line-height:85%;
	font-weight:800;
	font-style: normal;
	text-transform:uppercase;
	@include font-size(1.2);

}
.flex-active-slide h2{
	opacity: 1;
	@include translateX(0px);
}
.profile{
	opacity:0;
/*	@include translateX(-60px);*/
	@include transition-property(all);
  	@include transition-duration(0.4s);
  	@include transition-timing-function(ease-in);
  	@include transition-delay(0.6s);

}
.flex-active-slide .profile{
		opacity: 1;
	/*@include translateX(0px);*/
}
.slides{overflow:hidden;}
.slide{margin-top:0px;position:relative;}
