header.mobile{
	background-color:$bodydark;
}
.mobile{
	nav li{
		margin: 4px 0;
	}
	nav li a{
		padding:4px 5px;
		border-left: 3px solid $bodydark;
		@include font-size(2.2);
	}
	nav li.facebook a{
		border-left: 3px solid #446393;
	}
	nav li.twitter a{
		border-left: 3px solid #23A5DB;
	}
	nav li.youtube a{
		border-left: 3px solid #CC403F;
	}
	#searchform{
		input[type=text]{
			@include border-radius(3px);
			border:1px solid #222;
			background-color:#efefef;
			padding:6px;
		}
		input[type=submit]{
			text-transform: uppercase;
			font-family: $headerfont;
			@include font-size(2.2);
			@include border-radius(3px);
			color:#fff;
			background-color:$linkcolor;
			border:0;
			padding:5px;
		}
	}
}