.home-page #news{
	margin-top:0;
}
.storypage{
	margin-top: $gap*2;
}
.clear{clear:both;}
.padtop{padding-top:$gap*2;}
#ai1ec-container{
	padding-top: $gap*2;
	padding-bottom: $gap*2;
}
.respondimg{height:auto; width:100%;}
.img500{max-width:500px;}
.img300{max-width:300px;}
.img100{max-width:100px;}
hr{clear:both;}

#WidgetLauncher{
	width:90px !important;
}
#LauncherTranslatePhrase{
	padding:3px !important;
	height:14px !important;

}
#TranslateSpan{
	font-size:10px !important;
}
