@media all and (min-width: 992px) {
	header.banner{

		nav.navbar-collapse{
			ul#menu-primary-navigation{
				transform: none;
				background:none;
				padding: 40px 0;
			}
		}
		.navbar-brand{
			width: 150px;
			height: 92px;
			background-size: 150px 92px;
		}
	}
/* slideshow */
.slidecontent h2{
	@include font-size(5.5);
}

.slidecontent h3{
	color: #fdc13d;
	@include font-size(2);

}

}