@media all and (min-width: 1200px) {
		div.cat{
			padding-left: 50px;
			background: url("../img/default-cat.svg") no-repeat 0 0;
			background-size: 40px 40px;
			&.mobile{
				background: url("../img/mobile-cat.svg") no-repeat 0 0;
				background-size: 40px 40px;
			}
			&.opendata{
				background: url("../img/open-cat.svg") no-repeat 0 0;
				background-size: 40px 40px;
			}

		}

	.slidecontent h2{
		@include font-size(9);
	}
	.slidecontent h3{
		color: #fdc13d;
		@include font-size(3.4);
	}

#sticky.stick{
	position:fixed;
	top:60px;
	width:362px;
}

}