@media all and (min-width: 768px) {

	header.banner{
		padding:50px 40px;
		background-color: $linkcolor;
		overflow:hidden;
		.navbar-header{
			padding: 0;
			float: left;
		}
		nav.navbar-collapse{
			float: left;
			max-height: inherit;
			ul#menu-primary-navigation{
				transform: none;
				background:none;
				padding: 20px 0;
				li{
					display:inline-block;
					text-align:center;
					&:after{
						content: '/';
						color: #f7b198;
						display:inline-block;
						@include font-size(2);
						font-weight: 300;
					}
					&:last-child:after{
						content: '';
					}
					a{
						display: inline-block;
						padding: 2px 15px;
						width:auto;
						@include font-size(1.8);
					}
				}
			}
		}
		.navbar-toggle{display:none;}
		.navbar-brand{
			float: left;
			width: 75px;
			height: 46px;
			background: transparent url("../img/wnw-logo.png") no-repeat;
			background-size: 75px 46px;
			text-indent: -10000em;
		}
	}


}

